# Requirements

Each entry below is taken from a file found from the `features/` folder,
rendered into a a [sphinxcontrib-needs
requirement](https://sphinxcontrib-needs.readthedocs.io/en/latest/), and lists
out the file's content, rendered as Gherkin properly. Adding new files in `features/` will make this page grow on next render.

## List of requirements

{% for feature in features %}
### {{feature.filename}}

```{eval-rst}
.. req:: {{feature.filename}}

   .. literalinclude:: gherkin_features/{{feature.filename}}
      :language: gherkin
```
{% endfor %}

## Requirements summary

```{eval-rst}
.. needtable:: Requirements list
   :style: table
```
